* {
    margin: 0;
    padding: 0;
    user-select: none;
    touch-action: none;
}

body {
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background: #1e1e1e;
    border: 3px solid #fff;
    image-rendering: pixelated;
}

#controls {
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin-top: 8px;
}

button {
    width: 80px;
    height: 50px;
    font-size: 24px;
    background: #333;
    color: #fff;
    border: 3px solid #fff;
}

button:active {
    background: #666;
}
