body {
    margin: 0;
    background: #000;
    overflow: hidden;
    touch-action: none;
}

canvas {
    display: block;
    margin: auto;
    background: #111;
}

#controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 90px;
    pointer-events: none;
}

.btn {
    position: absolute;
    width: 64px;
    height: 64px;
    background: transparent;
    pointer-events: auto;
}

#left { left: 20px; bottom: 10px; }
#right { left: 100px; bottom: 10px; }
#jump { right: 20px; bottom: 10px; }
