body {
    margin: 0;
    background: #000; /* cielo nocturno */
    overflow: hidden;
    font-family: monospace;
}

canvas {
    display: block;
    margin: 0 auto;
    background: #000;
    position: relative;
}
